#menu-open-btn{
    font-size: 60px;
}

#menu-close-btn{
    float: right;
    font-size: 40px;
    color: #f2fee4;
    padding-top: 0px;
    position: relative;
}

#sidenav{
    width: 20vw;
    height: 100%;

    position: fixed;
    top: 0;
    left: 0;

    background-color: #293c48;

    transform: translate3d(-100vw,0,0);

    transition: transform .3s cubic-bezier(0, .52, 0, 1);

    overflow: hidden;
    z-index: 1;
}

#sidenav.show{
    transform: translate3d(0vw,0,0);
}

#sidenav ul{
    margin-top: 5vh;
}

#sidenav ul li{
    list-style:none;
    left: 25%;
}


#sidenav ul a{
    display: block;
    text-decoration: none;
    font-size: 32px;
    color: #f2fee4;
}

#account-btn{
    position: absolute;
    bottom: 50px;
}

#logout-btn{
    position: absolute;
    bottom: 5px;
}
