<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

        <link rel=stylesheet type=text/css href="{{ url_for('static',filename='css/styles.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static',filename='img/favicon.ico') }}">

        <title>Sensor Dashboard</title>

        {% block head %}
        {% endblock %}
    </head>
    <body>
        <div id="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>