{% extends "layout.html" %}

{% block head %}
<script type="text/javascript">
    function go_to_sensor(sensor_id){
        window.location.href = '/sensor/'+sensor_id;
    }
</script>
{% endblock head %}


{% block content %}
<div id="top-bar">
    {% include 'includes/_navbar.html' %}

    <noscript>
        <div class="alert alert-danger">
            <p style="color:#FF0000"><strong>Warning!</strong> You need to enable JavaScript to use this site.</p>
        </div>
    </noscript>
</div>


{% if sensors|length == 0%}
    <p id="no-sensor-warning">User has no sensors!</p>
{% else %}
<div id="container" class="mx-auto">
  <div class="row" style="text-align: center;">
    <h1 class=" mx-auto">All sensors for {{ patient.get_first_name() }} {{ patient.get_last_name() }}</h1>
  </div>
  <div class="row px-5 mb-4 justify-content-evenly">
      {% for sensor in sensors %}
      <div class="col-sm m-3  grid-item">
          <div class="white-box" onclick="go_to_sensor('{{ sensor.get_id() }}');">
              <h2 class="header-title">{{ sensor.get_name() }}</h2>

              <select class="form-select w-50 mx-auto" id="dropdown {{ sensor.get_id()}}" onclick="event.stopPropagation();"></select>

              <div class = "chartBox">
                  <canvas id="{{ sensor.get_id() }}"></canvas>
              </div>
          </div>
      </div>
      {% endfor %}
  </div>
  </div>
{% endif %}

<script>
    {% for sensor in sensors %}

        $.get("/get_sensor_data?sensor_id="+ '{{ sensor.get_id() }}' +"&data_type="+ "0" +"&time_option="+ "0", function(data){
                    //{'Sensor_ID': 'ID', 'Summary':{'Avg': 0, 'Min': 0, 'Max': 0}, 'Data': [[timestamp, value], ...]}

                    make_chart(data.Sensor_ID, data.Data, 0);
        });

        //Create drop down menu
        var options = ["Temperature", "Outside humidity", "Outside air pressure", "Outside temperature", "Reported humidity", "Light", "Motion", "Noise", "Air pressure", "VOC", "ECO2"];
        var dropdown = document.getElementById("dropdown {{ sensor.get_id()}}");

        for (var option in options) {
            var el = document.createElement("option");
            el.textContent = options[option];
            el.value = option;
            dropdown.appendChild(el);
        }

        dropdown.onchange = function() {
            $.get("/get_sensor_data?sensor_id="+ '{{ sensor.get_id() }}' +"&data_type="+ this.value +"&time_option="+ "0", function(data){
                make_chart(data.Sensor_ID, data.Data, this.value);
            });
        };
    {% endfor %}



    function make_chart(sensor_id, chart_data, data_type){
        $('#'+sensor_id).replaceWith($('<canvas id="'+sensor_id+'"></canvas>'));
        var ctx = document.getElementById(sensor_id);

        var data = [];
        for (var i = 0; i < chart_data.length; i++) {
            data.push({x: new Date(chart_data[i][0]).getTime(), y: parseFloat(chart_data[i][1])});
        }


        //Make chart
        var chart = new Chart(ctx, {
            type: "line",
            data: {
            datasets: [{
                data,
                indexAxis: "x",
                normalized: true,
                borderColor: "darkviolet",
                pointBackgroundColor: "darkviolet",
                borderWidth: 1.5,
                pointRadius: 0
                }
            ]
            },

            options: {
                layout: {padding: 20},
                resizeDelay: 250,
                responsive: true,
                animation: false,
                parsing: false,
                borderColor: "white",
                spanGaps: 1000 * 60 * 60,
                interaction: {
                    mode: "index",
                    axis: "x",
                    intersect: false
                },
                plugins: {
                    tooltip: {
                        position: "nearest",
                        titleMarginBottom: 16,
                        bodySpacing: 8,
                        padding: 16
                    },
                    legend:{display: false}
                },
                scales: {
                    x: {
                        type: "time",
                        time: {
                            unit: "minute",
                        },
                        display: true,
                        suggestedMin: Date.now() - 1000 * 60 * 60 * 24,
                        suggestedMax: Date.now(),
                        ticks: {
                            source: "auto",
                            maxRotation: 0,
                            autoSkip: true,
                            includeBounds: true,
                            major: {enabled: true}
                        }
                    },
                    y: {
                        display: true,
                        beginAtZero: true,
                        ticks: {
                            includeBounds: true,
                            major: {enabled: true},
                            callback: function(value, index, values) {
                                if (data_type == "0" || data_type == "3"){
                                    return value.toFixed(1) + "°";
                                }
                                else{
                                    return value.toFixed(1);
                                }
                            }
                        }
                    }
                }
            }
        });
    }
</script>

{% endblock content %}
