{% extends "layout.html" %}

{% block head %}
{% endblock head %}


{% block content %}


<div id="PrivacyPolicy" class="white-box mx-auto w-75 my-4">

<h1> Privacy Policy</h1>
<h2> What data we collect</h2>
<h3> Sensor Data</h3>
<p>We collect the content received straight from your sensors. We then combine this data across all devices you use. Information we obtain from these sensors are </p>
<p>  1) Device attributes (Information such are operating system and hardware, battery level, signal strength and storage).</p>
<p>  2) Device identifiers (This tells us what kind of device is connected with unique identifiers, device ID’s, and information of the data collected)</p>
<p>  3) Network connections (Information such as name of network, IP address, connection speed, language, IS and whether is an open network) and</p>
<p>  4) Sensor reading (This is the sensor readings that repeatedly get upload to our servers
<h3> Account data you provide</h3>
<P> This is all the data you provide to us when creating your account with us. For example data we collect are your email address, security log in, contact numbers, name, DOB, your consent, images and payment details.</p>
<p></p>
  <h2> What we do with this data </h2>
  <h3> Provide, personalise and improve our service </h3>
<p>We use the information given to us to provide our service and allow you to access all your sensor data in a given space</p>
<h3>Displaying data</h3>
<p>We will use the information to display your sensor readings in a graphical form within our user interface. You can view these by adding a sensor and selecting your sensor from the home page</p>
<h3>Alerts</h3>
<p>At your request we also observe trends in your data and notify you when readings are </p>
  <P>A) Not providing data, </p>
  <p>B) out of threshold bounds decided by the user or </p>
  <p>C) Where air quality levels are at a danger to life</p>
<h3>Personalisation</h3>
<p>Within your user interface you will have the option to personalise your graphical readings by viewing them in different forms, for example changing reading sizes, colours, or graph type</p>

<h2> How this information is shared<h2>
  <h3>Third party companies</h3>
  <p>As of February 2020 no data provided to us is shared with a third party and is kept secure only with us. </p>
  <h3>Career account</h3>
  <p>At the users request they may have to option to share data readings with a career or family therefore other members have access to sensor readings. This done through Account -> Career -> Add Career. Personal account information is not shared with this connection however all data readings are.</p>

  <h2>What is our legal basis for processing your data</h2>
    <p>Our legal basis for processing your data is to provide our service. Applications are as follows:
-	To assist care providers to improve their care provision
-	To help improve the living conditions for people in the premises being monitored
-	To detect if alarms system require maintenance
-	To allow impaired individuals to live independently for longer, through use of sensors monitoring and notifying the user
-	To monitor active readings of a given property.
-	To detect unsafe living conditions
</p>
    <p>-	To assist care providers to improve their care provision</p>
    <p>-	To help improve the living conditions for people in the premises being monitored</p>
    <p>-	To detect if alarms system require maintenance</p>
    <p>-	To allow impaired individuals to live independently for longer, through use of sensors monitoring and notifying the user</p>
    <p>-	To monitor active readings of a given property.</p>
    <p>-	To detect unsafe living conditions</p>

<h2>How can you exercise your rights provided under GDPR</h2>
<p>Under the General Data Protection Regulation, you have the right to access, rectify, port and erase your data. You can find more information on this in your “My account” page.</p>

<h2>Data retention deactivation and deletion</h2>
<h3>Account data</h3>
<P>We hold your account data until it is no longer necessary to provide our service to you, or until you chose to delete your account, whichever comes first.</p>
<p>When deleting your account with us all data will be removed and you won’t be able to recover the information past this point. Note: if you have a career account connected to your account, they will have to delete their account separately if they wish to do so. But won’t have access to any data related to your account after deletion</p>
<h3>Sensor data</h3>
<P>After 48 months all outdated Sensor data is deleted from our servers, unless requested by the user for it to be removed sooner. The user will also have the option to archive the reading locally </p>
<p>When deleting your account with us all data will be removed and you won’t be able to recover the information past this point. Note: if you have a career account connected to your account, they will have to delete their account separately if they wish to do so. But won’t have access to any data related to your account after deletion</p>





{% endblock content %}
