{% extends "layout.html" %}

{% block head %}
{% endblock head %}


{% block content %}

<div id="T&C" class="white-box mx-auto w-75 my-4">

<h1>Terms and conditions </h1>
<h2>The services we provide</h2>
<P>Here at HS-Dashboards we provide a high quality and efficient way of displaying readings from you home and managing it all through one screen.</p>
<p>We strive on a personalised experience to allow everyone the capability of utilising the system.</p>
<p>Notifying the user, when a temperature reading goes out of bounds of a given threshold the user will be notified and given optional measures to fix them</p>

<h2></h2>
<h2>User agreement</h2>
<p>By agreeing to this policy you shall use HS-Dashboards in compliance with all applicable laws and not for any unlawful purpose. Without limiting the foregoing, use, display or distribution of HS-Dashboards Ltd.</p>
<p>Unless HS-Dashboards has authorised you to distribute our services, you shall not make or distribute copies of our service or transfer our services from one device to another.</p>

<h2></h2>
<h2>Copyright</h2>
<p>HS-Dashboard’s name, logo and graphic files that represent us shall not be used in any way to promote products outside of HS-Dashboard Ltd. We retain sole and exclusive ownership of all rights, title and interest in and to our Home Sensor innovative design and all intellectual property rights relating thereto</p>

<h2></h2>
<h2>Limitation of responsibility</h2>
<p>You will indemnify, hold harmless and defend HS-Dashboards Ltd, its employees and distributors against any and all claims proceedings and costs resulting from and in anyway connected to the use of our Home sensor service.</p>
<p>In no event will HS-Dashboards be liable for any indirect, incidental, special or punitive damages whatsoever.</p>

<h2></h2>
<h2>Consent of use of data</h2>
<P>All information related to use the Use and retention of your data is outlined in our <a href="/PP"
target="popup"onclick="window.open('/PP','popup','width=600,height=600');">Privacy Policy</a> agreement in which you should also agree to before completing your account setup.<p>
<p>Please familiarise yourself with this as it contains all your rights under GDPR for us to access, store and process your data.</p>

<h2></h2>
<h2>Termination</h2>
<P>Any failure to comply with these terms and conditions of this agreement will result in no account being created with HS-Dashboards and termination of your request.</P>






{% endblock content %}
